[submodule "deps/pedrolib"]
	path = deps/pedrolib
	url = git@github.com:zhihaop/pedrolib.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "deps/benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
